# Bỏ qua thư viện thư mục nặng nhất
node_modules/

# BỎ QUA FILE BẢO MẬT (Cực kỳ quan trọng)
.env

# Bỏ qua các file log lỗi của npm
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Bỏ qua các thư mục build sản phẩm (dành cho React)
dist/
build/

# Bỏ qua các file cấu hình hệ điều hành (macOS/Windows)
.DS_Store
Thumbs.db